html, body {
	position:relative;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color:#222;

	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

html {
	display:table;
}

body {
	display:table-cell;
	vertical-align:middle;
}

body > canvas {
	display:block;
	margin:0 auto;

	-webkit-transform:translate3d(0,0,0);
	   -moz-transform:translate3d(0,0,0);
	    -ms-transform:translate3d(0,0,0);
	     -o-transform:translate3d(0,0,0);
	        transform:translate3d(0,0,0);
}

.pdebug {
	position:relative !important;
}
